---
http_interactions:
- request:
    method: post
    uri: https://api.agilixbuzz.com/cmd
    body:
      encoding: UTF-8
      string: '{"request":{"cmd":"login2","username":"/<AGILIX_BUZZ_USERNAME>","password":"<AGILIX_BUZZ_PASSWORD>"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Agilix-Encoding:
      - gzip
      Agilix-Server:
      - LKxLiApi_43242 (69)
    body:
      encoding: ASCII-8BIT
      string: '{"response":{"code":"OK","user":{"userid":"195479013","username":"qwerty_talk","firstname":"Qwerty","lastname":"Talk","email":"qwertytalk@strongmind.com","domainid":"73521699","domainname":"StrongMind","userspace":"strongmind","token":"~0.8KwWs9GjAXElXspL.A.Pk_BZdvq6YlBJJjFgwYjCeeO5gjyrrXsyswnH-JAALo","authenticationexpirationminutes":14}}}'
  recorded_at: Wed, 19 Jul 2023 20:48:13 GMT
- request:
    method: post
    uri: https://api.agilixbuzz.com/cmd?_token=~0.8KwWs9GjAXElXspL.A.Pk_BZdvq6YlBJJjFgwYjCeeO5gjyrrXsyswnH-JAALo&cmd=updatemanifestdata
    body:
      encoding: UTF-8
      string: '{"requests":{"manifests":[{"manifest":[{"entityId":"196363507","data":{"allowStaticCopy":false,"allowDerivativeChildCopy":true,"allowDerivativeSiblingCopy":false,"gradeCategories":{"weighted":true,"categories":[{"id":1,"gradeView":0,"name":"Checkpoint","alphaIndex":"aa","weight":15},{"id":2,"gradeView":0,"name":"Discussion","alphaIndex":"ab","weight":15},{"id":3,"gradeView":0,"name":"Exam","alphaIndex":"ac","weight":15},{"id":4,"gradeView":0,"name":"Final
        Exam","alphaIndex":"ad","weight":15},{"id":5,"gradeView":0,"name":"Pretest","alphaIndex":"ae","weight":0},{"id":6,"gradeView":0,"name":"Project","alphaIndex":"af","weight":30},{"id":7,"gradeView":0,"name":"Workbook","alphaIndex":"ag","weight":10}]},"description":"","gradeView":"","thumbnailPath":"","landingPagePath":{"value":"assets/syllabus.html"}}}]}]}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Provisioned-Ms:
      - '9000'
      X-Provisioned-Ms-Remaining:
      - '4446000'
      X-Provisioned-Ms-Cost:
      - '0'
      Agilix-Encoding:
      - gzip
      Agilix-Server:
      - LKxLiApi_612032 (7)
    body:
      encoding: ASCII-8BIT
      string: '{"response":{"code":"OK","responses":{}}}'
  recorded_at: Wed, 19 Jul 2023 20:48:14 GMT
recorded_with: VCR 6.2.0
