---
http_interactions:
- request:
    method: post
    uri: https://api.agilixbuzz.com/cmd
    body:
      encoding: UTF-8
      string: '{"request":{"cmd":"login2","username":"/<AGILIX_BUZZ_USERNAME>","password":"<AGILIX_BUZZ_PASSWORD>"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Agilix-Encoding:
      - gzip
      Agilix-Server:
      - LKxLiApi_54632 (52)
    body:
      encoding: ASCII-8BIT
      string: '{"response":{"code":"OK","user":{"userid":"195479013","username":"qwerty_talk","firstname":"Qwerty","lastname":"Talk","email":"qwertytalk@strongmind.com","domainid":"73521699","domainname":"StrongMind","userspace":"strongmind","token":"~0.QG4obHI4cFslXspL.A.aKynEc9zM1N9Zy9AwmfQdpngDzZNylAUY2LYrNNwtEA","authenticationexpirationminutes":14}}}'
  recorded_at: Thu, 20 Jul 2023 16:53:40 GMT
- request:
    method: post
    uri: https://api.agilixbuzz.com/cmd?_token=~0.QG4obHI4cFslXspL.A.aKynEc9zM1N9Zy9AwmfQdpngDzZNylAUY2LYrNNwtEA&cmd=putitems
    body:
      encoding: UTF-8
      string: '{"requests":{"item":[{"entityid":"196363507","itemid":"Resources","data":{"parentid":{"value":"DEFAULT"},"title":{"value":"Resources"},"gradingcategoryid":"","weight":"","gradegflags":"","maxattempts":"","thumbnailpath":"","sequence":{"value":"aa"},"resourcespath":"","contenthref":"","itemtype":{"value":4},"isgradable":"","completiontrigger":"","allowfilesubmissions":"","filesubmissiontype":"","visibility":{"value":8},"customfields":""}},{"entityid":"196363507","itemid":"Resources_Instruction_2a13b0f2-5f4a-46f1-8d1d-06c60802dc8e","data":{"parentid":{"value":"Resources"},"title":{"value":"Teacher
        Resource Guide"},"gradingcategoryid":"","weight":"","gradeflags":"","maxattempts":"","thumbnailpath":"","sequence":{"value":"aa"},"resourcespath":"","contenthref":{"value":"bltis://h2.flipswitch.com:443/FSProviderLaunch/26319?revisionid=70051&smcatalogid=1278&label=2d7455ab-ddf8-45dd-9890-c7c73dc08ab4"},"itemtype":{"value":6},"isgradable":"","completiontrigger":"","allowfilesubmissions":"","filesubmissiontype":"","visibility":{"value":8},"customfields":""}},{"entityid":"196363507","itemid":"Unit_42891","data":{"parentid":{"value":"DEFAULT"},"title":{"value":"Unit
        1: Expressions"},"gradingcategoryid":"","weight":"","gradeflags":"","maxattempts":"","thumbnailpath":{"value":"assets/Unit_42891/Unit_42891_IntroductionImage.png"},"sequence":{"value":"ab"},"resourcespath":"","contenthref":{"value":"assets/Unit_42891/Unit_42891_Introduction.html"},"itemtype":{"value":4},"isgradable":"","completiontrigger":"","allowfilesubmissions":"","filesubmissiontype":"","visibility":{"value":0},"customfields":""}}]}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Provisioned-Ms:
      - '9000'
      X-Provisioned-Ms-Remaining:
      - '4679579'
      X-Provisioned-Ms-Cost:
      - '223'
      Agilix-Encoding:
      - gzip
      Agilix-Server:
      - LKxLiApi_111142 (280)
    body:
      encoding: ASCII-8BIT
      string: '{"response":{"code":"OK","responses":{"response":[{"code":"OK"},{"code":"OK"},{"code":"OK"}]}}}'
  recorded_at: Thu, 20 Jul 2023 16:53:40 GMT
recorded_with: VCR 6.2.0
